<script lang="ts">
	import Board from './Board.svelte';
	import Reset from './Reset.svelte';
	import Stats from './Stats.svelte';
</script>

<main class="h-2/3">
	<Stats />
	<Board />
	<Reset />
</main>
