<script lang="ts">
	import { gameState } from '$state';
	import Cross from './Cross.svelte';
	import Circle from './Circle.svelte';

	$: ({ board } = $gameState);
</script>

<div class="grid grid-cols-3 grid-rows-3 gap-1.5 m-auto h-full max-h-96 aspect-square">
	{#each board as field, idx}
		<div
			tabindex="0"
			role="button"
			class="text-7xl rounded-xl bg-primary-100 text-on-primary-token hover:bg-primary-400 focus:bg-primary-400 flex"
			class:occupied={field != 'none'}
			on:click={() => gameState.takeTurn(idx)}
			on:keypress={(e) => e.code === 'Space' && gameState.takeTurn(idx)}
		>
			<!-- TODO: Show greyed out shape on hover/focus -->
			{#if field != 'none'}
				<svelte:component this={field === 'x' ? Cross : Circle} />
			{/if}
		</div>
	{/each}
</div>

<style>
	.occupied:hover,
	.occupied:focus {
		@apply bg-primary-100;
	}
</style>
