<script>
	import { scale } from 'svelte/transition';
</script>

<div class="circle" transition:scale />

<style>
	.circle {
		border-radius: 999px;
		border: 10px solid black;
		width: 85%;
		height: 85%;
		align-self: center;
		justify-self: center;
		margin: auto;
	}
</style>
