<script>
	import { scale } from 'svelte/transition';
</script>

<div class="cross" transition:scale />

<style>
	.cross {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.cross:before,
	.cross:after {
		position: absolute;
		left: 45%;
		right: 45%;
		content: ' ';
		height: 100%;
		width: 10px;
		background-color: black;
		border-radius: 50px;
	}

	.cross:before {
		transform: rotate(45deg);
	}
	.cross:after {
		transform: rotate(-45deg);
	}
</style>
