<script lang="ts">
	import { gameState } from '$state';
</script>

<div class="w-fit m-auto py-5">
	<button type="button" class="btn variant-filled" on:click={() => gameState.reset()}>
		Restart</button
	>
</div>
