<script lang="ts">
	import { gameState } from '$state';
	import Cross from './Cross.svelte';
	import Circle from './Circle.svelte';
	import { Confetti } from 'svelte-confetti';

	import { backInOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	const [send, recieve] = crossfade({ easing: backInOut });
	$: ({ currentPlayer, won } = $gameState);
	let key = 'trans';
</script>

<main class="flex relative content-center m-auto w-fit column text-5xl align-middle justify-items-center">
	Current Player
	<div class="relative overflow-clip w-10 h-10 px-9 align-bottom">
		{#if currentPlayer === 'x'}
			<div in:send={{ key }} out:recieve={{ key }} class="h-full text-center">
				<Cross />
			</div>
		{:else}
			<div in:send={{ key }} out:recieve={{ key }} class="h-full">
				<Circle />
			</div>
		{/if}
	</div>

	{#if won != 'none'}
		<div class="flex absolute justify-between w-full column">
			<!-- TODO: Use image to make confetti out of shape of the winner -->
			<Confetti x={[-1.5, 0.5]} y={[-1.5, 0.4]} delay={[0, 200]} amount="200" />
			<Confetti x={[-0.5, 0.5]} y={[-1.5, 0.4]} delay={[0, 850]} amount="100" cone />
			<Confetti x={[-0.5, 1.5]} y={[-1.5, 0.4]} delay={[0, 500]} amount="200" />
		</div>
	{/if}
</main>
